@use "../../styles/vars";

.burger {
    opacity: 0;

    &--active {
        opacity: 0;
        color: vars.$highlight-text;
        font-size: 4rem;
        line-height: .6rem;
        animation: .3s fade-in forwards;
        transition: all .3s;

        &:hover {
            transform: translateX(0.2rem);
            cursor: pointer;
        }
    }
}