$light-background: #FFFFFF;
$dark-background: #1D1D1D;
$middle-background: #2A2A2A;
$nav-background: #181818;
$transparent-background: rgba(0, 0, 0, 0);

$light-text: #FFFFDB;
$dark-text: #212730;
$highlight-text: #379e8d;
$hover-text: #c59c15;

$light-grey: #d5d5d5;
$gutter: 1rem;
