$light-background: #eee;
$dark-background: #222831;
$nav-background: rgb(1, 23, 29);

$light-text: #eee;
$dark-text: #212730;
$highlight-text: #036e81;
$hover-text: rgb(197, 156, 21);

$light-grey: #d5d5d5;
$gutter: 1rem;
