$light-background: #eee;
$dark-background: #222831;
$nav-background: #01171d;

$light-text: #eee;
$dark-text: #212730;
$highlight-text: #379e8d;
$hover-text: #c59c15;

$light-grey: #d5d5d5;
$gutter: 1rem;
