@use "reset";
@use "vars";

body {
  font-family: "Nunito", sans-serif;
  background-color: vars.$light-background;
  color: vars.$dark-text;
  font-size: 1rem;
}

h2, h3, a {
    font-family: "Roboto", sans-serif;
}

h2 {
  opacity: 0;
  transform:translateX(-5%);
  animation:
    3s fade-in .5s forwards,
    1s slide-right .5s forwards;
  font-weight: bold;
  font-size: 6rem;
}

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slide-right {
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-left {
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes blinking {
    from {
      border-color: transparent
    }
  
    to {
      border-color: vars.$highlight-text;
    }
  }
