@use "../../styles/_vars.scss";

.app {
  display: flex;
  min-height: 100vh;

  &--darkmode {
    background-color: vars.$dark-background;
    color: vars.$light-text;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
  }
}

.highlight-text {
  color: vars.$highlight-text;
}
