@use "../../styles/vars";

.about {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2 * vars.$gutter;
        padding: 4 * vars.$gutter;

        &__title {
            min-width: 100%;
        }

        &__text {
            // opacity: 0;
            font-size: 1.5rem;
            // animation: .5s fade-in .1s forwards;
        }

    }

    &__image {
        // opacity: 0;
        object-fit: cover;
        width: 40%;
        height: 90%;
        margin: auto;
        // animation: 3s fade-in forwards;
    }
}