@use "../../styles/vars";

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 1.5 * vars.$gutter;

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 0.2 * vars.$gutter;
    font-weight: bold;
    font-size: 4rem;
    overflow: hidden;

    &__text {
        animation: 2s slide-right .3s forwards;
        transform:translateX(-100%);
    }
    @keyframes slide-right {
      to {
        transform: translateX(0);
      }
    }
  }

  &__tech-specification {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.7;
    color: vars.$highlight-text;
  }
}


