@use "../../styles/vars";

.form {
    display: flex;
    flex-wrap: wrap;
    gap: .5 * vars.$gutter;

    &__input {
        width: 100%;
        height: 2.5rem;
        padding: 1rem;
        border: none;
        font-family: "Nunito", sans-serif;
        font-size: 1.2rem;

        &__name {
            width: 49.47%;
        }

        &__email {
            width: 49.47%;
        }

        &__subject {
        }

        &__message {
            height: 10rem;
            resize: none;

            &:focus {
                outline: none;
            }
        }

    }

    &__submit {
        margin-left: auto;
        font-size: 1.2rem;
    }
}