@use "../../styles/vars";

.header {
  &__nav {
    color: vars.$light-text;
    min-height: 100vh;
    background-color: vars.$nav-background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;

    &__logo {
      padding: 2 * vars.$gutter;
      font-weight: bold;
      font-size: 5rem;
      background-color: vars.$dark-background;
    }

    &__list {
      padding: 2 * vars.$gutter;
      &__item {
        padding: 1rem;

        &:hover {
          color: vars.$hover-text;
          transform: translateX(-0.2rem);
          cursor: pointer;
        }
      }
    }

    &__icons-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      &__icon {
        &:hover {
          color: vars.$hover-text;
          transform: translateY(-0.1rem);
          cursor: pointer;
        }
      }
    }
  }
}
