@use "../../styles/vars";

.header {

  &__logo {
    padding: 1.5 * vars.$gutter;
    font-weight: bold;
    font-size: 3.5rem;
    background-color: vars.$dark-background;
  }
  
  &__nav {
    color: vars.$light-text;
    min-height: 100vh;
    background-color: vars.$nav-background;
    // padding: 0 2 * vars.$gutter;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    transform: translateX(-100%);
    transition: all .3s;
    position: relative;

    &--active {
      transform: translateX(0);
    }

    &__close-button {
      color: vars.$light-text;
      font-size: 2.5rem;
      position: absolute;
      top: 0;
      right: .7 * vars.$gutter;
      transition: all .3s;

      &--active {
        transform: rotate(45deg);
        
        &:hover {
            transform: rotate(45deg);
            color: vars.$hover-text;
            cursor: pointer;
        }
      }

    }

    &__burger-button {
      position: absolute;
      right: -4rem;
      top: 0;
    }


    // &__languages-container {
    //   display: flex;
    //   gap: 1rem;

    //   &__flag {
    //     width: 2rem;
    //   }
    // }

    &__list {
      display: flex;
      flex-direction: column;
      &__item {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        transition: all .3s;
        animation: .3 fade-out forwards;
        opacity: 1;
        transform: translateX(-100%);

        &:hover {
          color: vars.$hover-text;
          cursor: pointer;
        }

        &--about-active {
          animation: 
          1s bounce forwards,
          .3s fade-in forwards;
        }
        &--skills-active {
          animation:
          1s bounce .1s forwards,
          .3s fade-in .1s forwards;
        }
        
        &--projects-active {
          animation:
          1s bounce .2s forwards,
          .3s fade-in .2s forwards;
        }
        
        &--contact-active {
          animation:
          1s bounce .3s forwards,
          .3s fade-in .3s forwards;
        }
      }
    }

    &__icons-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      transition: all .3s;
      animation: .3 fade-out forwards;
      opacity: 1;
      transform: translateX(-100%);

      &--active {
        animation: 1s bounce forwards,
        .3s fade-in forwards;
      }

      &__icon {
        transition: all .3s;

        &:hover {
          color: vars.$hover-text;
          transform: translateY(-0.1rem);
          cursor: pointer;
        }
      }
    }
  }
}
