@use "../../styles/vars";

.footer {
  margin-top: auto;
  padding: 1rem;

  &__contact-button {
    background-color: vars.$highlight-text;
    font-weight: bold;
    color: vars.$light-text;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    padding: 1rem;

    &:hover {
      background-color: vars.$hover-text;
      cursor: pointer;
    }
  }
}
